header {
    // background-color: #0000009e;
    background-color: #2bb57261;
    padding: 1em;
    > ul {
        color: white;
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        > li:nth-of-type(1) {
            > a {
            }
        }
        > li:nth-of-type(2) {
            > a {
            }
        }
        > li:nth-of-type(3) {
            > a {
            }
        }
    }
}
