<div class="wrapper">
    <div class="header">
        <app-header></app-header>
    </div>
    <div class="body">
        <div class="img-cont">
            <img src="/assets/imgs/bg-image.jpg" alt="dargha" class="dargha">
            <div class="img-wrapper"></div>
        </div>
        <div class="cards">
            <app-home-card title="उपदेश" footer="कबीर दास"
                body="गुरु गोविंद दोउ खड़े, काके लागूं पांय। बलिहारी गुरु आपनो, गोविन्द दियो बताय।।" />
            <app-home-card title="उपदेश" footer="अज्ञात"
                body="हम सभी धर्मों का सम्मान करते हैं और शांति, दया और सद्भाव में विश्वास करते हैं ||" />
            <app-home-card title="उपदेश" footer="अमीर खुसरो"
                body="खुसरो दरिया प्रेम का, उल्टी वा की धार। जो उतरा सो डूब गया, जो डूबा सो पार।।" />
        </div>
    </div>
    <div class="footer">
        <app-footer />
    </div>
</div>