<footer>
    <div class="socials">
        <ul>
            <li><a href="#">
                    <i class="fa-brands fa-facebook"></i>
                </a></li>
            <li><a href="#">
                    <i class="fa-brands fa-instagram"></i>
                </a></li>
            <li><a href="#">
                    <i class="fa-brands fa-youtube"></i>
                </a></li>
        </ul>
    </div>
    <div class="copy">
        &copy; Copyright, All Right Reserved
    </div>
</footer>